@model TaskModelView

<form id="createTaskForm" method="post" asp-action="CreateTask" class="card p-3" style="width:400px;">
    <div class="mb-2">
        <label asp-for="Nombre">Nombre</label>
        <input asp-for="Nombre" class="form-control" required />
    </div>

    <div class="mb-2">
        <label asp-for="Descripcion">Descripción</label>
        <textarea asp-for="Descripcion" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Persona Asignada</label>
        <select asp-for="UserId" asp-items="ViewBag.Users" class="form-select">
            <option value="">-- Seleccione un usuario --</option>
        </select>
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <button id="crearTareaBtn" type="submit" class="btn btn-success w-100">Crear tarea</button>
</form>