@model IEnumerable<TaskModelView>

@{
    ViewData["Title"] = "Agile Board";
}
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>

<h2 class="text-center mb-4">Agile Board</h2>

<div class="mb-4 d-flex justify-content-center">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCrearTarea">
         Nueva Tarea
    </button>
</div>

<div class="modal fade" id="modalCrearTarea" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Nueva Tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_CreateFormPartial", new CasoI.PrograAvanzada.Models.TaskModelView())
            </div>
        </div>
    </div>
</div>
<script src="~/js/javascript.js"></script>


<div class="board d-flex justify-content-center gap-3">

    @await Html.PartialAsync("_Column",
    Model.Where(x => x.Estado == UserStoryStatus.Backlog).OrderBy(x => x.id),
        new ViewDataDictionary(ViewData) {
        { "ColumnName", "Backlog" },
        { "ColorClass", "bg-secondary" }
        })

    @await Html.PartialAsync("_Column",
        Model.Where(x => x.Estado == UserStoryStatus.ToDo).OrderBy(x => x.id),
        new ViewDataDictionary(ViewData) {
        { "ColumnName", "To Do" },
        { "ColorClass", "bg-primary" }
        })

    @await Html.PartialAsync("_Column",
        Model.Where(x => x.Estado == UserStoryStatus.InProgress).OrderBy(x => x.id),
        new ViewDataDictionary(ViewData) {
        { "ColumnName", "In Progress" },
        { "ColorClass", "bg-warning" }
        })

    @await Html.PartialAsync("_Column",
        Model.Where(x => x.Estado == UserStoryStatus.Done).OrderBy(x => x.id),
        new ViewDataDictionary(ViewData) {
        { "ColumnName", "Done" },
        { "ColorClass", "bg-success" },
        { "EfectoVisual", "shadow-lg border border-success" }
        })

</div>